.App {
  font-family: sans-serif;
  text-align: center;
  border: 2px solid hsl(0, 0%, 0%);
  background-color: lightcyan;
}

.box {
  border: 2px solid black;
  margin: 10px 10px;
  background-color: chartreuse;
  box-shadow: 10px 5px 5px black;
}

.box:hover {
  transform: scale(1.1);
  background-color: orangered;
}
